.header {
    display: flex;
    align-items: center;
    transition: box-shadow 0.3s;
    flex-shrink: 0;
    padding: 0 30px;
    white-space: nowrap;
    background-color: #377D71;
    color: #fff;
    height: 60px;
    width: 100%;
    font-size: 14px;
    justify-content: space-between;
  }
  .appname {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 18px;
    cursor: pointer;
  }
  .user-settings {
    display: flex;
    align-items: center;
    font-weight: 500;
  }
  .user-settings svg {
    width: 20px;
    color: #94949f;
  }
  .user-menu {
    position: relative;
    margin-right: 8px;
    padding-right: 8px;
    border-right: 2px solid #d6d6db;
  }
  .user-profile {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
  }