.search-menu {
  height: 55px;
  display: flex;
  flex-shrink: 0;
  justify-content: right;
  background-color: var(--header-bg-color);
  border-radius: 8px;
  width: 100%;
  padding-left: 20px;
}
.search-bar {
  height: 55px;
  width: 100%;
  float: right;
}
.search-bar input {
  width: 100%;
  height: 100%;
  font-family: "Poppins";
  font-size: 14px;
  display: block;
  background-color: transparent;
  border: none;
  background-image: url("search.png");
  background-repeat: no-repeat;
  background-size: 25px;
  background-position: 0 50%;
  padding: 0 25px 0 35px;
}
.search-button {
  background-color:#8879B0;
  height: 55px;
  border: none;
  font-family: "Poppins";
  font-weight: 600;
  font-size: 14px;
  padding: 0 20px;
  border-radius: 0 8px 8px 0;
  color: var(--button-color);
  cursor:pointer;
  margin-left: auto;
}

